.todo-item{
    background-color: rgb(243, 236, 231);
   
}

.list-row{
  
}

.todo-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.completed{
    text-decoration: line-through;
    color: grey
}

.priority-img{
    height:10px
}

.priority-img-completed{
    filter: grayscale(100%)
}