.button-wrapper{
    display: none
    }
.todo-item{
    background-color: rgb(243, 236, 231);
    display:flex;
    align-items: center;
}

.todo-item:hover .button-wrapper{
display: block;
height: 45px;
align-items: center;
}
.list-row{
  
}

.todo-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.completed{
    text-decoration: line-through;
    color: grey
}

.priority-img{
    height:10px
}

.priority-img-completed{
    filter: grayscale(100%)
}
