.button-wrapper{
    display: none;
    }
.todo-item{
    background-color: rgb(243, 236, 231);
    display:flex;
    align-items: center;
    height: 45px;
    width: 1000px;
}

.todo-item:hover .button-wrapper{
display: block;
align-items: center;
}
.task{
  width: 300px
}
.category{
    width: 175px
  }
.image-wrapper{
width: 75px
}
.priority{
width: 100px
}
.due{
    width: 150px
    }

.todo-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.completed{
    text-decoration: line-through;
    color: grey
}

.priority-img{
    height:10px
}

.priority-img-completed{
    filter: grayscale(100%)
}
